{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="row">
            <hr>
            <div class="col-md-10 col-sm-9">
            <h3><a href="">{{ post.title }}</a></h3>

            <p>{{ post.content|truncatewords:30 }}</p>

            <p>
                <button class="btn btn-default" onclick="location.href ={{ post.id }}">Read More</button>&nbsp;
                {{ post.published_date }}   |   Views <strong>{{ post.views }}</strong>   |   Tag <strong>{{ post.tag }}</strong>
           </p>
           </div>
        </div>
    {% endfor %}
{% endblock content %}
