{% extends 'base.html' %}
{% block content %}
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center"><strong>LATEST ARTICLES</strong></h2>
        </div>
        <br>

        </br>
        <div class="row articles">
            <div class="col-md-4 col-sm-6 item"><img class="img-responsive" src="/static/img/cash.png" /></a>
                <h3 class="name">Apple has a history of choosing cash over startups</h3>
                <p class="description">Apple has more cash than any other technology company on the planet. Yet, to date, that hasn’t translated into spending on acquisitions.</p></div>
            <div
                class="col-md-4 col-sm-6 item"><img class="img-responsive" src="/static/img/uber.png" /></a>
                <h3 class="name">Uber accused of espionage, bribery and hacking!</h3>
                <p class="description">The $1.86 billion legal battle between ride-hailing giant Uber and Alphabet’s self-driving unit Waymo reached a pivotal moment today as the judge in the case released a damning letter based on the account of a former Uber employee.</p></div>
            <div
                class="col-md-4 col-sm-6 item"><img class="img-responsive" src="/static/img/gnews.jpg" /></a>
                <h3 class="name">Here’s what people were Googling in 2017</h3>
                <p class="description">There are few metrics in the world that offer as much insight into our society as Google’s annual “Year in Search.” Google’s offers a clear snapshot of the things that captured our imaginations.</p></div>
        </div>
</div>
</div>
{% endblock %}