{% extends 'base.html' %}
{% block content %}
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center"><strong>Apple has a history of choosing cash over startups</strong></h2>
        </div>
        <br>
        <div class="row articles">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 item"><img class="img-responsive" src="/static/img/cash.png" />
                <br>
                <p class="description text-justify">Apple has more cash than any other technology company on the planet. Yet, to date, that
                    hasn’t translated into spending on acquisitions. Over the past five years, Apple has spent the least on M&A out of all the
                    “Big Five” most valuable U.S. technology companies, a Crunchbase News analysis finds. That’s despite the fact that it is
                    estimated to have more than $260 billion in cash and cash equivalents, including money parked in overseas accounts. So is it
                    buying time yet? While this week’s $400 million acquisition of music discovery app Shazam indicates a willingness to make big-ticket
                    purchases, history shows Apple has made these kinds of large deals pretty rarely.<br>
                    <br><strong>THE NUMBERS</strong><br>
                    <br>Since 2013, the iPhone maker shelled out a total of $5.1 billion in disclosed M&A deals, according to Crunchbase data. More than half of
                    that went to a single transaction: the 2014, purchase of music technology company Beats Electronics for $3 billion. Looking at deal count alone,
                    Apple looks like a pretty active buyer. Since 2013, Apple bought 55 private companies, of which 11 had a reported price. The $5.1 billion figure
                    includes only those 11 companies. The remaining 44 companies that Apple bought for undisclosed sums are primarily early-stage startups. While purchase
                    prices can’t be confirmed, such deals are generally well below $100 million and commonly total a few million dollars. In the chart below, we look at Apple’s
                    track record for M&A over the past five years. Deal count has ranged from a low of eight acquisitions to a high of 13.<br>
                    <br>Posted Dec 16, 2017 by Joanna Glasner sourced from Techcrunch.com
                </p>
                <br>
                <div id="disqus_thread"></div>
                    <script>

                        var disqus_shortname = 'news-revolution';
                        var disqus_title = "The lastest and hottest Tech headlines!";

                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://news-revolution.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
{% endblock %}